name: Update Stoic Quote

on:
  schedule:
    - cron: "0 0 * * *"   # Run at 00:00 UTC (Midnight)
    - cron: "0 8 * * *"   # Run at 08:00 UTC (Morning)
    - cron: "0 16 * * *"  # Run at 16:00 UTC (Afternoon)
  workflow_dispatch:      # Allow manual execution

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Fetch Stoic Quote
        run: |
          QUOTE_JSON=$(curl -s https://stoic-quotes.com/api/quote)
          QUOTE=$(echo "$QUOTE_JSON" | jq -r '.text')
          AUTHOR=$(echo "$QUOTE_JSON" | jq -r '.author')
          printf "> _\"%s\"_\n> — **%s**\n" "$QUOTE" "$AUTHOR" > quote.md

      - name: Update Timestamp
        run: |
          LOCAL_TIME=$(TZ="Europe/Zurich" date +'%H:%M')  # Localize to Zurich Time
          echo "*Last update: $LOCAL_TIME*" > timestamp.md

      - name: Update README
        run: |
          sed -n '1,/### Daily Stoic Wisdom/p' README.md > temp.md
          cat quote.md >> temp.md
          echo "" >> temp.md
          cat timestamp.md >> temp.md
          mv temp.md README.md

      - name: Commit and Push Changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add README.md
          git commit -m "Updated Stoic Quote & Timestamp ⏳" || exit 0
          git push